.container{
    width:calc(100% - 40px);
    padding:20px;
    
}
.content{
    width:calc(40% - 60px);
    padding:30px;
    border:2px solid black;
    margin:auto;
    background-color:grey;
}
.control{
    width:100%;
}
.names{
    width:calc(50% - 45px);  
    padding:15px;
    margin:5px 5px;
}
.email-input{
    width:calc(100% - 45px);
    padding:15px;
    margin:5px 5px;
}
.pass{
    width:calc(50% - 45px);  
    padding:15px;
    margin:5px 5px;
}
.state{
    width:calc(55% - 40px);  
    padding:15px;
    margin:5px 5px;
}

.gender-value{
width:50%;

}
.gen{
    padding:5px;
}
.rb-value{
    display:flex;
}
.gender{
    display:flex;
    margin-top:10px;
    padding:5px;
}
.agree{
    margin-top:10px;
    padding:5px;
}
.signup-btn{
    width:calc(100% - 8px);  
    padding:15px 0px;
    margin:10px 0px 0px 0px;
}
.heading{
    font-weight:bolder;
    font-size:30px;
    text-align:center;
    padding:0px 10px 10px 10px;
}